.Layout-root {
  display: flex;
  height: 100vh;
}

.Layout-NavMenu {
  height: 100%;
  width: 300px;
  overflow: hidden;
  @media only screen and (max-width: 768px) {
    width: 100px;
  }
}

.Layout-Main {
  height: 100%;
  width: 100%;
  padding: 16px;
  overflow-y: scroll;
}
