.Profile-root {
  margin-left: 48px;
}

.Profile-Header {
  padding: 8px 16px;
  display: flex;
  align-items: center;
}

.Profile-Header h1 {
  margin: 0;
  margin-right: 8px;
}

.Profile-posts {
  display: flex;
  margin-top: 16px;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 1200px) {
  .Profile-root {
    margin-left: 0px;
  }

  .Profile-posts {
    display: flex;
    margin-top: 16px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .Profile-Header {
    justify-content: center;
  }
}
